
//Breakpoints (Bootstrap)
$xs : 567px;
$sm : 768px;
$md : 992px;
$lg : 1200px;

//Colors
$black : #12130f;
$light-gray: #f2f2f2;
$medium-gray: #7b7b7b;

$white : #fff;

$primary : #4589d6;
$dark-primary: #030027;

$secundary : #8fcb9b;
$dark-secundary: #55846e;

$error: #CC4B4B;

$warning: #ffd948;

$purple: #52239a;

$orange: #bb8521;